<tr>
    <th></th>
    <div>
        <video width='320' autoplay muted loop>
            <source src='https://ak.picdn.net/shutterstock/videos/1716319/preview/stock-footage-mexican-traditional-dance.mp4'
                    type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <p>Similarity: 1.16</p></div>
    </th>
    <th></th>
    <div>
        <video width='320' autoplay muted loop>
            <source src='https://ak.picdn.net/shutterstock/videos/8325460/preview/stock-footage-five-handsome-men-in-medieval-costumes-dance-in-studio.mp4'
                    type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <p>Similarity: 0.99</p></div>
    </th>
    <th></th>w
    <div>
        <video width='320' autoplay muted loop>
            <source src='https://ak.picdn.net/shutterstock/videos/14524696/preview/stock-footage-kherson-ukraine-mar-open-lesson-in-circus-acrobatics-young-people-hard-train-dance.mp4'
                    type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <p>Similarity: 0.90</p></div>
    </th>
    <th></th>
    <div>
        <video width='320' autoplay muted loop>
            <source src='https://ak.picdn.net/shutterstock/videos/1020796141/preview/stock-footage-handsome-mature-bearded-male-pianist-in-dark-suit-and-classic-shirt-plays-black-grand-piano-on-big.mp4'
                    type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <p>Similarity: 0.89</p></div>
    </th></tr>